{{ define "content" }}
<h2 class="mb-4">
    Upload Avatar Users
</h2>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/users/{{ .ID }}/avatar" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Avatar</label>
                <input type="file" name="avatar" required class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{{ end }}